#product-display {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#base-tshirt {
  display: block;
  width: 400px;
  height: auto;
}

#overlay-img {
  position: absolute;
  width: 150px;
}